# pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
# torch==2.3.1 --index-url https://download.pytorch.org/whl/cu118
# torchvision==0.18.1 --index-url https://download.pytorch.org/whl/cu118
# torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
# pip install torch==2.3.1 torchvision==0.18.1 torchaudio==2.3.1 --index-url https://download.pytorch.org/whl/cu118
timm==0.6.7
tqdm
scikit-learn
ipdb
PyYAML
einops
# May need to reinstall numpy, suggest using conda